body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
}

/* TYPOGRAPHY */

body {
  font-family: "Poppins", sans-serif;
}

.dog-name-age {
  color: #f8f8f8;
}

.dog-phrase {
  color: #b7b7b7;
}

/* LAYOUT */

body {
  background: linear-gradient(180deg, #ffffff 0%, #f6f7fb 100%);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5em 0;
}

.icon-profile,
.icon-chat {
  width: 10%;
}

.logo {
  width: 20%;
  margin: 0 auto;
}

.icon-profile {
  margin-left: 1em;
}

.icon-chat {
  margin-right: 1em;
}

.dog-pic {
  width: 50%;
  margin: 0 auto;
  border-radius: 15px;
}

.dog-card {
  position: relative;
}

.dog-info {
  position: absolute;
  bottom: 0;
  left: 30%;
  margin-left: 0.5em;
}

.dog-name-age {
  margin: 0;
}

.dog-phrase {
  margin: 0 0 0.5em 0;
}

#dog-verdict {
  position: absolute;
  top: 10%;
  left: 27%;
  width: 20%;
  transform: rotate(-45deg);
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.cross-container,
.hearth-container {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  box-shadow: 0px 10px 20px #e9e9ea;

  cursor: pointer;
}

.cross-container {
  margin-right: 5em;
}

.cross-container:hover,
.cross-container:focus {
  background: #ffe7ef;
  box-shadow: 0px 10px 20px #edd9df;
}

.hearth-container:hover,
.hearth-container:focus {
  background: #dbfff4;
  box-shadow: 0px 10px 20px #ccf1e6;
}

.hidden {
  display: none;
}
