body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.header-container img {
  width: 15%;
}

.dog-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dog-profile img {
  width: 40%;
  border-radius: 15px;
}

.dog-profile-text-container {
  position: absolute;
  bottom: 0;
  left: 32%;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}

.heart-btn,
.cross-btn {
  margin: 0 12px;
  border-radius: 50%; /* Make the image border circular */
  background-color: #e9e9ea;
  padding: 12px;
}

.cross-btn:hover {
  background-color: #ffe7ef;
  fill: #ffe7ef;
  filter: drop-shadow(0px 10px 20px #edd9df);
}

.heart-btn:hover {
  background-color: #dbfff4;
  fill: #dbfff4;
  filter: drop-shadow(0px 10px 20px #ccf1e6);
}
